.color{
    background-color: rgba(81, 168, 174, 0.57);
    font-size: 20px;
    font-weight: 600
}

.font-color{
    background-color: rgba(143, 255, 221, 0.726);
}

.cancelar{
    background-color: rgba(255, 0, 0, 0.63);
    color: wheat
}

.publicar{
    background-color: rgba(0, 128, 0, 0.411);
}

.letterPost{
    font-size: 25px;
    text-align: center;
    /* font-family: 'Literata', serif; */
}

.createPost{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .color{
        font-size: 13px
    }
}